/* Base */
body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

p {
  margin-bottom: 20px;
}

/* Layout */
.container {
  width: 940px;
  margin: 0 auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
header {
  padding: 20px 0;
}

/* Nav */
nav {
  margin-bottom: 40px;
}

  nav ul {
    list-style: none;
    padding: 0;
  }

  nav li {
    float: left;
    width: 117.5px;
  }

    nav li a {
      display: block;
      padding: 8px 0;
      font-size: 14px;
      line-height: 20px;
      color: white;
      text-align: center;
      text-decoration: none;
      background: #666;
      background-image: linear-gradient(#888, #888 50%, #666 50%, #666);
      border-right: 1px solid #333;
      text-shadow: 0 -1px 2px black;
    }

    nav li a:hover {
      background: #555;
    }

    nav li.apple a {
      border-radius: 5px 0 0 5px;
    }

    nav li.last a {
      border: none;
      border-radius: 0 5px 5px 0;
    }

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 15px 10px 32px;
  color: white;
  text-decoration: none;
  background-image: url(../img/sprite.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border-radius: 5px;
  text-shadow: 0 -1px 0 #333;
}

  .btn:hover {
    background-color: #51A351;
  }

.btn-buy {
  background-color: #5BB75B;
}

.btn-like {
  background-color: #49AFCD;
  background-position: 10px -22px;
}

  .btn-like:hover {
    background-color: #2F96B4;
  }