/* Base */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
}


/* Layout */
.weather {
  position: relative;
  width: 320px;
  height: 568px;
  background: url(../img/clear-skies.jpg) 0 0 no-repeat;
  margin: 100px auto;
}

.group {
  padding: 15px;
  border-bottom: 1px solid #b1dafa;
}

.clear {
  clear: both;
}

/* Close button */
.close {
  position: absolute;
  top: -12px;
  right: -12px;
}

/* Now */
.now {
  padding: 60px 0 30px 0;
  text-align: center;
}

  .now h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .now h2 {
    font-size: 72px;
  }

/* Today */
.today header {
  padding: 15px;
  text-align: right;
}

  .today header h3 {
    float: left;
    font-weight: bold;
  }

.today .hour {
  float: left;
  width: 58px;
  text-align: center;
}

  .today .hour h4 {
    padding-bottom: 40px;
    background: url(../img/icon_sunny.png) center 25px no-repeat;
  }

  .today .cloudy h4 {
    background-image: url(../img/icon_cloudy.png);
    background-position: center 22px;
  }

  .today .rain h4 {
    background-image: url(../img/icon_rain.png);
    background-position: center 28px;
  }

  .today .current h4 {
    font-weight: bold;
  }

/* Week */
.week {
  border-bottom: none;
  text-align: right;
} 

  .week .day {
    clear: both;
    padding: 10px 35px 10px 0;
    background: url(../img/icon_sunny.png) right center no-repeat;
  }

    .week .cloudy {
      background-image: url(../img/icon_cloudy.png);
    }

    .week .rain {
      background-image: url(../img/icon_rain.png);
    }

  .week h4 {
    float: left;
  }

/* Thunderstorm */
.thunderstorm {
  background-image: url(../img/thunderstorm.jpg);
}

  .thunderstorm .group {
    border-color: #9873b9;
  }